major-tom-venv
.vscode
./vscode
python38

# Byte-compiled / optimized / DLL files
__pycache__/

# Recursive calls
**/node_modules
**.env

# React app
app/build
app/*.pnp
app/*.pnp.js
app/coverage
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# Misc
.idea/

